<!DOCTYPE html>
<html>
	<head>
		<title>Музыка ВКонтакте - Александр Книга</title>
		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body>
		<%- body %>
	</body>
</html>
