<%if('development' == sails.config.environment) { %>
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<% } else { %>
<link rel="stylesheet" type="text/css" href="css/main.built.css">
<% } %>

<div class="page-layout">
	<div class="content">
		<div class="ac noselect">
			<div class="ac__wrap clearfix">
				<div class="ac__controls">
					<div class="ac__play fl-l"></div>
					<!-- <div class="ac__rplay fl-l"></div> -->
					<div class="ac__prev ac__cntl-wrap">
						<div class="ac__ctrl"></div>
					</div>
					<div class="ac__next ac__cntl-wrap">
						<div class="ac__ctrl"></div>
					</div>
				</div>
				<div class="ac__info fl-l">
					<div class="ac__title-wrap clearfix">
						<div class="ac__name fl-l">
							<span class="ac__performer"></span> –
							<span class="ac__title"></span>
						</div>
						<span class="ac__duration fl-r"></span>
					</div>
					<div class="ac__player-wrap">
						<div class="ac__player" ondragstart="return false;" onselectstart="return false;">
							<table cellspacing="0" cellpadding="0" border="0" width="100%">
								<tbody><tr>
									<td style="width: 100%;">
										<div class="ac__pr">
											<div class="ac__white-line"></div>
											<div class="ac__back-line"></div>
											<div class="ac__load-line"></div>
											<div class="ac__progress-line"></div>
										</div>
									</td>
									<td>
										<div class="ac__vol">
											<div class="ac__white-line"></div>
											<div class="ac__back-line"></div>
											<div class="ac__progress-line"></div>
										</div>
									</td>
								</tr>
							</tbody></table>
						</div>
					</div>
				</div>
				<div class="ac__ectrls fl-r">
					<!-- <div class="ac__add ac__cntl-wrap clearfix fl-l">
						<div class="ac__ctrl"></div>
					</div>
					<div class="ac__repeat ac__cntl-wrap clearfix fl-l">
						<div class="ac__ctrl"></div>
					</div>
					<div class="ac__shuffle ac__cntl-wrap clearfix fl-l">
						<div class="ac__ctrl"></div>
					</div>
					<div class="ac__rec ac__cntl-wrap clearfix fl-l">
						<div class="ac__ctrl"></div>
					</div> -->
					<div class="ac__status ac__cntl-wrap clearfix fl-l">
						<div class="ac__ctrl"></div>
					</div>
				</div>
			</div>
			<div class="ac__shadow">
				<div class="ac__shadow__sh1"></div>
				<div class="ac__shadow__sh2"></div>
				<div class="ac__shadow__sh3"></div>
				<div class="ac__shadow__sh4"></div>
			</div>
		</div>
		<div class="audio-wrap noselect">
			<table class="audio" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td class="audio__main">
							<div class="audio__search clearfix">
								<div class="fl-l">
									<input placeholder="Поиск" type="text" class="audio__search__f">
								</div>
								<div class="search-progress fl-l"></div>
								<div class="search-reset shown fl-l"></div>
								<div class="abutton-wrap fl-l">
									<button class="button_flat">
										по композициям
										<!-- <span class="arrow"></span> -->
									</button>
								</div>
							</div>
							<div class="audio__list">
							</div>
						</td>
						<td class="audio__side">
							<div class="audio__side-inner fixed">
								<div class="album">
									<a href="#" class="album__item album__item_selected album__item_my">
										<div class="album__item__label">Мои аудиозаписи</div>
									</a>
                                    <a href="#/popular" class="album__item album__item_popular">
                                        <div class="album__item__label">Популярное</div>
                                    </a>
                                    <a href="#/popular-eng" class="album__item album__item_popular-eng">
                                        <div class="album__item__label">Популярное (англ.)</div>
                                    </a>
                                    <a href="#/recomendations" class="album__item album__item_recomendations">
                                        <div class="album__item__label">Рекомендации</div>
                                    </a>
									<div class="album__item album__item_search">
										<div class="album__item__label">Результаты поиска</div>
									</div>
								</div>
								<div class="alinks">
									<a href="/site/logout" class="alinks__item">
										<div class="alinks__item__label">Выйти (логин)</div>
									</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="cntf cntf-devices" style="display: none; width: 260px; top: 40px; left: 963px">
	<div class="cntf__inner">
		<div class="cntf__tail">
			<div class="tail"></div>
		</div>
		<div class="cntf__title">Трансляция аудиозаписей</div>
		<div class="cntf__description">
			<span>Выберите устройство, на которое хотите транслировать проигрываемые аудиозаписи.</span>
		</div>
		<div class="cntf__checks">
			<div class="cntf__checks__item"><div></div><span>Windows 7, chrome</span></div>
		</div>
	</div>
</div>

<footer class="page-footer">
	<a href="http://vk.com/oknyga">Александр Книга</a>
</footer>

<%if('development' == sails.config.environment) { %>
    <script data-main="/js/app" type="text/javascript" src="/components/requirejs/require.js"></script>
<% } else { %>
    <script data-main="/js/app.built" type="text/javascript" src="/components/requirejs/require.js"></script>
<% } %>