<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires + "; path=/";
    }

    var sdata = location.hash.substring(1).split('&'), data = {};

    for(var i=0;i<sdata.length;i++) {
        var param = sdata[i].split('=');
        data[param[0]] = param[1];
    }

    setCookie('user', JSON.stringify({
        token: data.access_token,
        id: data.user_id
    }), 999);
    location.href = '/';
</script>

<!--
<script type="text/javascript" src="/components/WhichBrowserJS/whichbrowser-js-min.js"></script>
<script type="text/javascript">
	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		}
		else {
			return uri + separator + key + "=" + value;
		}
	}

    var whichBrowser = new WhichBrowser();
    whichBrowser.onReady(function (whichBrowser) {
    	var url = updateQueryStringParameter(location.href, 'type', 'auth');
    	url += '&data=';
    	url += encodeURIComponent(JSON.stringify(whichBrowser));
		location.href = url
    });
</script>
-->