body {
	background: #fff;
	color: #000;
	margin: 0px;
	padding: 0px;
	direction: ltr;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 11px;
	line-height: 1.182;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}

input {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}

a {
	color: #2B587A;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

b {
	font-weight: bold;
}

.page-layout {
	width: 791px;
	margin: 0 auto;
	position: relative;
}

.content {
	border: solid #D9E0E7;
	border-width: 0px 1px 1px;
	position: relative;
}

.clearfix {
	display: block;
}

.shown {
	display: block;
}

.fixed {
	position: fixed;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* fl */

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

/* ac */

.ac {
	background: #F0F1F2;
	position: fixed;
	z-index: 100;
	width: 789px;
}

.ac__wrap {
	padding: 0px 10px;
	height: 46px;
}

/* ac shadow */
.ac__shadow > div {
	background: #000;
	height: 1px;
	opacity: 0.15;
	filter: alpha(opacity=15);
	position: absolute;
	z-index: 1050;
	overflow: hidden;
	width: 789px;
}

.ac__shadow .ac__shadow__sh1 {
	opacity: 0.15;
	filter: alpha(opacity=15);
	margin-top: 0px;
}

.ac__shadow .ac__shadow__sh2 {
	opacity: 0.09;
	filter: alpha(opacity=9);
	margin-top: 1px;
}

.ac__shadow .ac__shadow__sh3 {
	opacity: 0.04;
	filter: alpha(opacity=4);
	margin-top: 2px;
}

.ac__shadow .ac__shadow__sh4 {
	opacity: 0.01;
	filter: alpha(opacity=1);
	margin-top: 3px;
}

/*ac controls */

.ac__controls {
	padding: 12px 0px;
	float: left;
}

.ac__play {
	background: url(../images/icons/audio_icons.png?6) no-repeat scroll 0 -25px transparent;
	margin: 0px 4px 0px 2px;
	padding: 0px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.ac__play:hover {
	background-position: -24px -25px;
}

.ac__play.ac__play_pause {
	background-position: -72px -25px;
}

.ac__play.ac__play_pause:hover {
	background-position: -96px -25px;
}

.ac__cntl-wrap {
	cursor: pointer;
	padding: 4px 3px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 2px 1px 1px;
	opacity: 0.70;
	filter: alpha(opacity=70);
	-webkit-transition: background-color 100ms ease-out;
	-moz-transition: background-color 100ms ease-out;
	-o-transition: background-color 100ms ease-out;
	transition: background-color 100ms ease-out;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	-o-transition: opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
	float: left;
}

.ac__cntl-wrap:hover {
	opacity: 1;
}
.ac__cntl-wrap.active {
	opacity: 1;
}

.ac__ctrl {
	background: url(../images/icons/audio_icons.png?6) no-repeat scroll 0 0 transparent;
	height: 11px;
	width: 13px;
	margin: 0;
	float: left;
}

.ac__prev .ac__ctrl {
	background-position: -3px -52px;
}

.ac__next .ac__ctrl {
	background-position: -18px -52px;
}

/* ac info */
.ac__info {
	/*width: 580px;*/
	width: 660px;
	margin-left: 10px;
}

.ac__title-wrap {
	padding-top: 11px;
	line-height: 13px;
}

.ac__name {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	max-width: 327px;
}

.ac__performer {
	font-weight: bold;
	color: #2B587A;
}

.ac__title {
	color: #627A94;
}

.ac__duration {
	display: inline-block;
	margin: 0px 68px 0 0;
	padding: 0px !important;
	color: #627a94;
	font-size: 0.9em;
	margin-top: 1px;
	cursor: pointer;
	max-width: 38px !important;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/* ac player */

.ac__player {
	margin-top: 5px;
}

.ac__player td {
	padding: 0px;
	vertical-align: top;
}

.ac__player-wrap {
	margin-top: 20px;
}

.ac__white-line {
	width: 100%;
	height: 15px;
	position: relative;
	display: block;
	top: -5px;
	cursor: pointer;
	-webkit-user-select: none;
}

.ac__back-line {
	width: 100%;
	height: 4px;
	margin: 0;
	position: relative;
	display: block;
	top: -15px;
	background-color: #D8DEE4;
	cursor: pointer;
	-webkit-user-select: none;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.ac__load-line {
	width: 0%;
	height: 4px;
	margin: 0;
	position: relative;
	display: block;
	top: -19px;
	background-color: #bac7d4;
	cursor: pointer;
	-webkit-user-select: none;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.ac__progress-line {
	width: 0%;
	height: 4px;
	margin: -12px 0 0 0;
	position: relative;
	display: block;
	top: -11px;
	background-color: #5c7a99;
	cursor: pointer;
	-webkit-user-select: none;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.ac__vol {
	margin-left: 11px;
	width: 55px;
}

.ac__vol .ac__progress-line {
	top: -7px;
}

/* ac extra controls */
.ac__ectrls {
	padding: 12px 0px;
}

.ac__add .ac__ctrl {
	background-position: -80px -52px;
}

.ac__repeat .ac__ctrl {
	background-position: -32px -49px;
	height: 14px;
}

.ac__shuffle .ac__ctrl {
	height: 12px;
	background-position: -50px -51px;
}

.ac__rec .ac__ctrl {
	background-position: -202px -51px;
	height: 12px;
	width: 12px;
}

.ac__status .ac__ctrl {
	background-position: -66px -51px;
}

/* audio */
.audio {
	width: 100%;
    min-height: 170px;
}

.audio-wrap {
	padding-top: 46px;
}

/* audio main */
.audio__main {
	border-right: 1px solid #DAE2E8;
	vertical-align: top;
	padding-bottom: 15px;
}

/* audio__search */
.audio__search {
	padding: 13px 12px 13px 13px;
	background: #ffffff;
	border: none;
	/*border-bottom: 1px solid #E1E7ED;*/
}

.audio__search__f {
	background: #ffffff url(../images/magglass.png) no-repeat 5px 6px;
	width: 424px;
	color: #000;
	border: 1px solid #C3CBD4;
	margin: 0px;
	height: 13px;
	padding: 5px 20px;
	outline: none;
}

.search-progress {
	background: url("../images/upload.gif") no-repeat scroll center center transparent;
	display: none;
	height: 23px;
	margin-left: -41px;
	margin-top: 1px;
	position: relative;
	width: 32px;
	z-index: 95;
}

.search-reset {
	display: none;
	cursor: pointer;
	background: transparent url(../images/icons/input_clear.gif) 6px 6px no-repeat;
	padding: 2px;
	width: 19px;
	height: 19px;
	margin-left: -24px;
	margin-top: 1px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: relative;
	z-index: 100;
}

/* button */
.abutton-wrap {
	position: relative;
	left: -1px;
	line-height: normal;
}

.abutton-wrap .button_flat {
	width: 121px;
	height: 25px;
	line-height: 0.5em;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	-khtml-border-top-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.abutton-wrap .arrow {
	background: url(../images/darr_dd_over.gif) 0px 0px;
	width: 7px;
	height: 4px;
	display: inline-block;
	margin-bottom: 1px;
	margin-left: 5px;
}

.button_flat {
	padding: 6px 16px 7px 16px;
	margin: 0;
	font-size: 11px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	vertical-align: top;
	overflow: visible;
	line-height: 13px;
	text-decoration: none;
	background: none;
	background-color: #6383a8;
	color: #FFF;
	border: 0;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 100ms ease-in-out;
	-khtml-transition: background-color 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
}

/* audio side */
.audio__side {
	width: 156px;
	vertical-align: top;
	padding: 0 10px;
	background: #F7F7F7;
}

.audio__side a {
	text-decoration: none;
}

.audio__side-inner {
	width: 156px;
	/*top: 87px;*/
	padding: 13px 0 10px;
}

.album__item.album__item_selected {
	background-color: #5e82a8 !important;
	color: #FFFFFF;
}

.album__item.album__item_search {
	display: none;
}

.alinks__item,
.album__item {
	display: block;
	color: #2B587A;
	max-width: 156px;
	cursor: pointer;
	position: relative;
}

.alinks__item:hover,
.album__item:hover {
	background-color: #EDF1F5;
}

.alinks__item__label,
.album__item__label {
	max-width: 121px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 6px 24px 7px 11px;
}

/* audio list */
.audio__list {
	margin-top: 25px;
	padding: 0 0 13px 13px;
	position: relative;
}

.audio__list__item:hover {
	background: #edf1f5;
}

.audio__list__item:hover .audio__item__duration {
	display: none;
}

.audio__list__item:hover .audio__item__actions {
	display: block;
}

.audio__item {
	padding-left: 0px;
}

.audio__item:hover {
	background-color: #EDF1F5;
}

.audio__item__play-btn {
	padding: 0px;
	width: auto;
    cursor: pointer;
}
.audio__item__play-btn.audio__item__play-btn_pause .audio__item__play-btn_new {
	background-position: 0 -16px;
}

.audio__item__play-btn-wrap {
	padding: 9px;
    cursor: pointer;
}

.audio__item__play-btn_new {
	width: 16px;
	height: 16px;
	background: url(../images/playpause.gif) no-repeat 0px 0px;
}

.audio__item__info {
	/*width: 390px;*/
	width: 558px;
	position: relative;
}

.audio__item__info__title-wrap {
	/*width: 330px;*/
	width: 510px;
	padding: 10px 0 9px;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.audio__item__info__title-wrap b {
	max-width: 230px;
	padding: 0px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.audio__item__duration {
	padding: 10px 9px 9px;
	max-width: 42px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #777;
	font-size: 0.9em;
}

.audio__item__actions {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 100;
	padding-left: 10px;
	text-align: center;
	display: none;
}

.audio__item__action {
	margin: 6px 6px 6px 0;
	padding: 4px;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.audio__item__action .audio__item__action__cntrl {
	height: 12px;
	width: 12px;
	margin: 0px;
	background-image: url(/images/icons/audio_icons.png?6);
	background-repeat: no-repeat;
}

.audio__item__action:hover {
	opacity: 1;
}

.audio__item__action_add-audio .audio__item__action__cntrl {
	background-position: -79px -51px;
}

.audio__item__action_remove-audio .audio__item__action__cntrl {
	background-position: -107px -51px;
	height: 13px;
}

/** footer **/
.page-footer {
	margin-top: 15px;
	text-align: center;
}

/** context form */
.cntf {
	position: fixed;
	opacity: 1;
	z-index: 1000;
}

.cntf__inner {
	border: 1px solid #96aabe;
	background: #fff;
	padding: 2px 10px 7px;
	color: #2c587d;
}

.cntf__title {
	color: #2a5779;
	padding-top: 10px;
	font-weight: bold;
	padding-bottom: 6px;
}

.cntf__description {
	padding-bottom: 6px;
	color: #000000;
}

.cntf__tail {
	position: absolute;
	top: -7px;
	right: 13px;
	z-index: 1001;
}

.cntf__checks__item {
	padding: 5px 0 4px;
	white-space: nowrap;
	height: 13px;
	cursor: pointer;
	line-height: 1.27em;
	color: #000;
}

.cntf__checks__item_active div {
	background-position: 0px -14px;
}

.cntf__checks__item div {
	float: left;
	width: 15px;
	margin-right: 5px;
	height: 14px;
	margin-bottom: 2px;
	background-image: url(../images/icons/check.gif);
	background-repeat: no-repeat;
}

/* tail */
.tail {
	width: 11px;
	height: 8px;
	background: url(../images/ddtooltip.png) -3px 2px no-repeat;
}