<div class="cntf">
	<div class="cntf__inner">
		<div class="cntf__tail">
			<div class="tail"></div>
		</div>
		<div class="cntf__title"><%= title %></div>
		<div class="cntf__description">
			<%= description %>
		</div>
		<div class="cntf__exras">
			<%= extras %>
		</div>
	</div>
</div>