<div class="audio__item-wrap clearfix">
	<div class="audio__item__play-btn fl-l">
		<div class="audio__item__play-btn-wrap"><div class="audio__item__play-btn_new"></div></div>
	</div>
	<div class="audio__item__info fl-l">
		<div class="audio__item__info__title-wrap fl-l">
			<b><a href="#/search?q=<%= encodeURIComponent(artist) %>"><%= artist %></a></b>
			–
			<span class="audio__item__info__title"><a href="#/search?q=<%= encodeURIComponent(title) %>"><%= title %></a></span>
		</div>

		<div class="audio__item__actions">
			<% if(user.getId() != owner_id) { %>
			<div class="audio__item__action audio__item__action_add-audio fl-r">
				<div class="audio__item__action__cntrl"></div>
			</div>
			<% } else { %>
			<div class="audio__item__action audio__item__action_remove-audio fl-r">
				<div class="audio__item__action__cntrl"></div>
			</div>
			<% } %>
		</div>

		<div class="audio__item__duration fl-r"><%= formDuration(duration) %></div>
	</div>
</div>